header{
    text-align: center;
    background-color: rgb(59, 105, 231);
    font-size: 40px;
    color: azure;
}

main{
    display: flex;
}

nav{
    display: flex;
    flex-direction: column;
    border: solid red 2px;
    width: 30%;
}

form{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    border: solid black 2px;
    width: 70%;
}

h2{
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
}

h3{
    margin: 10px;
}


