header{
    text-align: center;
    background-color: rgb(59, 105, 231);
    font-size: 40px;
    color: azure;
}

main{
    display: flex;
    margin-top: 20px;
}

nav{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    row-gap: 15px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#searchHistory{
    border-top: solid grey 1px;
}

#searchCard{
    width: 100%;
    margin-top: 15px;
}

#searchInput{
    height: 40px;
    font-size: 20px;
}

#searchButton{
    height: 30px;
    background-color:  rgb(59, 105, 231);
    color: azure;
}

#searchButton:hover{
    background-color: blueviolet;
    cursor: pointer;
}

h1{
    font-size: 20px;
}

section{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 100px;
    margin-left: 30px;
}

h2{
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
}

#subtitle{
    font-size: 20px;
    display: none;
}

h3{
    margin: 10px;
}

#futureWeather{
    display: flex;
    justify-content: space-between;
}

#card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(31, 31, 82);
    color: azure;
    padding-left: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}

